{% if stocks %}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Stock Ticker</th>
            <th scope="col">Company Name</th>
            <th scope="col">Sector</th>
            <th scope="col">Exchange</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for stock in stocks %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ stock.ticker }}</td>
            <td>{{ stock.short_name }}</td>
            <td>{{ stock.sector }}</td>
            <td>{{ stock.exchange }}</td>
            <td class="d-flex justify-content-end">
                <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                    data-bs-target="#deleteModal{{ stock.id }}">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- This second for loop is here to keep the forms outside of the tables and to dhere to the HTML specs -->
{% for stock in stocks %}
<!-- Modal for deleting the stock -->
<div class="modal fade" id="deleteModal{{ stock.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ stock.id }}"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel{{ stock.id }}">Delete Stock
                </h5>
            </div>
            <div class="modal-body">
                Are you sure you want to remove {{ stock.ticker }} from the portfolio?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form method="post" hx-post="{% url 'remove_from_portfolio' %}" hx-target="#portfolio"
                    hx-swap="innerHTML" hx-trigger="submit" hx-vals='{"csrfmiddlewaretoken" : "{{ csrf_token}}"}'
                    onsubmit="console.log('Form submitted')">
                    {% csrf_token %}
                    <input type="hidden" name="portfolio_id" value="{{ portfolio.id }}">
                    <input type="hidden" name="stock_id" value="{{ stock.id }}">
                    <button type="submit" class="btn btn-danger" data-bs-dismiss="modal"
                        onclick="console.log('Button clicked')">Confirm Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% else %}
<p>No stocks in this portfolio.</p>
{% endif %}